<div class="w3-container content">
    <div class="container">
      <div class="tab" style="margin-top: 30px;">
        <div class="search-bar">
          <form action="/admin/search" method="POST">
            <div class="search">
              <input type="text" placeholder="Search" name="search" class="form-control" style="width: 200px;">
              <button><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
          </form>
        </div>
        <div class="create">
          <a href="/admin/courses/new" class="btn btn-primary">+ Create New</a> 
        </div>
      </div>
    <div>
        
      </div>
    </div>
  </div>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" style="background: rgba(226, 220, 220, 0.39);margin-top: 20px;">
        <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">Courses</li>
      </ol>
    </nav>
    <table class="table body">
      <thead class="table-light">
        <tr>
          <th scope="col">Course Name</th>

        </tr>
      </thead>
      <tbody>
        <% course.forEach(items =>{%>
          <tr>
            <td scope="row"><%=items.courseName%></td>
            <td><!-- Button trigger modal -->
              <a href="/admin/courses/faqs/<%=items.id%>" class="btn btn-primary">
                  + Add FAQS
              </a>
                
                <!-- Modal -->
              </td>
              <td>
                <div class="btn-group dropleft">
                  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item text-center" href="/admin/courses/curriculum/<%=items.id%>"></i> + Curriculum</a>
                    <a class="dropdown-item" href="/admin/courses/edit/<%=items.id%>"><i class="fa fa-pencil" aria-hidden="true" style="padding: 10px;"></i> Edit</a>
                    <form action="/admin/delete/<%=items.id%>?_method=DELETE" method="POST" style="height: 30px;padding: 10px;">
                    <button style="margin-top: -10px; border: none; background-color: white; margin-left: 17px;"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
                  </form>
                </div>
              </div>
            </td>
          </tr>
        <%})%>
        
      </tbody>
    </table>
  </div>